# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django
*.log
media/
staticfiles/
local_settings.py

# Environment variables
.env

# Virtual environment
venv/
.env/
.venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
