<!DOCTYPE html>
<html lang="en">
  <head>
    {% load my_tags %}
    {% load django_bootstrap5 %}
    {% load static %}

    <meta charset="UTF-8">
    <meta name="description" content="Global Renewable Energy Usage (2020-2024)">
    <meta name="keywords" content="renewable,energy,usage,web,api">
    <meta name="author" content="Joe C.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon_io/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    
    <title>
      {% block title %}Greensight{% endblock %}
    </title>
  </head>

  <body>

    {% include "./navbar.html" %}

    <main id="main_content">

      <div class="container-fluid">
        <div class="row justify-content-center" id="filters_and_searchbox">
          
          <!-- Filters -->
          <div class="col-md-4 mt-3">
            {% energy_sources %}
          </div>
          
          <div class="col-md-4 mt-3">
            {% countries %}
          </div>
  
          <!-- Search Form -->
          <div class="col-md-8 my-3">
            <form method="get" action="{% url 'usage_search' %}" class="d-flex">
              <input type="text" name="q" class="form-control me-2" placeholder="household ID, country, or energy source">
              <button type="submit" class="btn btn-outline-secondary">Search</button>
            </form>
          </div>
  
        </div>
  
          <!-- Main Content -->
          <div class="row justify-content-center">
            <div class="col-md-16" id="main_content">
              {% block content %}
                <p>Didn't render content</p>
              {% endblock %}
            </div>
          </div>
  
      </div>

    </main>


    {% include "./footer.html" %}

  </body>
</html>
