{% extends "./base.html" %} {% load bootstrap5 %} {% block content %}

<div class="container my-5">
  <h2>Registered Countries</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Country</th>
        <th>Region</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for country in countries %}
      <tr>
        <td>{{ country.name }}</td>
        <td>{{ country.region.name }}</td>
        <td>
          <form
            action="{% url 'countries' %}"
            method="post"
            style="display: inline"
          >
            {% csrf_token %}
            <input type="hidden" name="delete_id" value="{{ country.id }}" />
            <button
              type="submit"
              class="btn btn-danger btn-sm"
              onclick="return confirm('Are you sure you want to delete {{ country.name }}?');"
            >
              Delete
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <br />

  <h2>Add new country</h2>
  <form action="{% url 'countries' %}" method="post" class="form">
    {% csrf_token %} {% bootstrap_form form %}
    <input type="submit" value="Add" class="btn btn-primary" />
  </form>
</div>
{% endblock %}
