{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Global Renewable Energy Usage (2020-2024)">
    <meta name="keywords" content="renewable,energy,usage,web">
    <meta name="author" content="Joe C.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon_io/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/usage_data.css' %}">
    
    <title>Greensight</title>
</head>
<body>
